---
layout: archive
title: "Birds"
permalink: /birds/
author_profile: true
---

{% include base_path %}

<p>I enjoy wildlife photography! Below is a collection of various birds I have photographed while traveling around.</p>

{% for bird_slug in site.data.birds %}
  {% assign bird_path = "_birds/" | append: bird_slug | append: "/index.md" %}
  {% assign post = site.birds | where: "path", bird_path | first %}
  {% if post and post.published != false %}
    {% include archive-single-bird.html %}
  {% endif %}
{% endfor %}
