{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item bird-set">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title archive__item-title--plain" itemprop="headline">
      {{ title }}
    </h2>

    {% if post.description %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.description | markdownify }}</p>
    {% elsif post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% endif %}

    {% include bird-gallery.html bird=post %}
  </article>
</div>
